/*Resetando os valores padrões da página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
  list-style: none;
}

body{}
