/*Resetando os valores padrões da página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
    list-style: none;
  }

  /*MAIN PRINCIPAL FEITO POR YASMIN PERESTRELO DA SILVA*/

  .titulo-empresa {
    background-color: rgb(40, 80, 131);
    position: relative;
    animation: mover 5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    margin-left: 22%;
}


  .titulo-empresa h1 {
      color: whitesmoke;
      margin-left: 5%;
  }
  

  #titulo-animacao {animation-timing-function: ease;}
  
  @keyframes mover {
    from {left: 0px;}
    to {left: 50%;}
  }